html,body{
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

*{
    box-sizing: border-box;
}
p{
    line-height: 25px;
}

.header{
    // background-color: black;
    padding: 20px 0;
    // border-bottom: 1px solid black;
    background-color: #333;
    background-color: rgb(161, 105, 0);
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 100;
    -webkit-box-shadow: 2px -1px 15px 5px rgba(0,0,0,0.31); 
    box-shadow: 2px -1px 15px 5px rgba(0,0,0,0.31);

    .logo-icon{
        position: absolute;
        top: 20px;
        left: 80px;
    }
    .header-nav{
        display: flex;
        justify-content: flex-start;
        .logo p{
            font-family: "Arizonia", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 35px;
            margin: 0;
            margin-right: 150px;
            margin-left: 150px;
            // width: 50%;
            line-height: 30px;
            color: whitesmoke;
        }
        .header-menu{
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
            align-self: center;

            li a:link,li a:visited{
                text-decoration: none;
                font-size: 18px;
                color: rgb(68, 68, 68);
                text-transform: uppercase;
                color: whitesmoke;
                &:hover{
                    color: white;
                }


            }

            li:not(:last-of-type){
                margin-right: 40px;
            }
        }
    }
}

.grid{
    display: flex;
    min-height: 94vh;
    margin-top: 62px;   
    
    &-left{
        width: 20%;
        background-color: rgb(127, 195, 250);
          background-color:darken(whitesmoke,60%);
        // background-color: #a7d3f8;
        // background-color: rgb(33, 119, 189);

        //  background-color: rgb(0, 140, 255);
        //  background-color: rgb(76, 103, 134);
        //  background-color: orangered;
        position: relative;
        // background-color: #282828;
        color: white;

        .menu-navigator{
            position:sticky;
            top: 120px;
            position: sticky;
            top: 120px;
            width: 100%;
            margin: 0 auto;
            margin-left: 20px;
            a{
                font-size: 18px;

                &:hover{
                    // color: rgb(235, 154, 4) !important;
                    text-decoration: none !important;
                }
            }
        }
        .categories{
            width: 90%;
            margin: 0 auto;
            padding: 0;
            // background-color: #0099ff;
            // text-align: center;
            list-style: none;
            margin-top: 50px;
            // margin-left: 70px;
            font-size: 17px;
            
            h2{
                color: rgb(0, 140, 255);
                // color: rgb(0, 97, 182);
                color: white;   
               color: rgb(235, 154, 4);
            }
            li{
                margin-bottom: 5px;    
                margin-left: 10px; 
                
            }
            li a:link,li a:visited{
                text-decoration: none;
                color: rgb(0, 140, 255);
                // color: rgb(0, 97, 182);
                color: white;
                font-weight: bold;
                &:hover{
                    // color: rgb(0, 88, 166);
                    // color: whitesmoke;
                    color: rgb(235, 154, 4);
                    text-decoration: underline;
                }


            }

            .sub-categories{
                list-style: none;
                // margin-right: 50px;
                padding: 0;
               
                li{
                    margin-bottom: 5px;    
                    margin-left: 10px; 
                }
                li a:link,li a:visited{
                    text-decoration: none;
                    color: white;

                    &:hover{
                      
                        color: rgb(235, 154, 4) !important;
                    }


                }

                
            }
        }

        .tags{
            width: 90%;
            margin: 0 auto;
            padding: 0;
            // background-color: #0099ff;
            // text-align: center;
            list-style: none;
            margin-top: 25px;
            // margin-left: 70px;
            font-size: 17px;

            h2{
                color: rgb(235, 154, 4);
            }
            .tags-wraper{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                width: 90%;
                margin-left: 10px;
                margin-top: 30px;
                li{
                     margin-bottom: 25px;
                }
                li a{
                    color: white;
                    text-decoration: none;
                    padding: 10px;
                    background-color: rgb(197, 129, 3);
                    // background-color: #cd6b03;
                    // background-color: orangered;
                    font-size: 14px;
                    border-radius: 8px;

                    &:hover{
                        background-color: rgb(161, 105, 0);
                    }
                   

                    

                }

                li:not(:last-of-type){
                    margin-right: 5px;
                }
                // &>* a:not(:last-of-type){
                   

                // }
            }
        }
    }

    &-right{
        width: 80%;
        // background-color: #303030;
        // color: white;
        &-wraper{
            width: 80%;
            margin: 0 auto;
            // background-color: #333;
            // color: white;
            
            margin-left: 0 auto;
            padding: 40px 0 80px 0;

            
            .post-type-title{
                text-align: center;
                margin-right: 150px;
                font-weight: 300;
            }

            .article-title{
                text-align: center;
                margin-right: 150px;
                font-weight: 300;
                margin-bottom: 40px;
            }

            .preview{
                display: flex;
                justify-content: space-evenly;
            
                &:not(:last-of-type){
                    margin-bottom: 40px;
                }
                .icon{
                    align-self: center;
                }
                .icon i{
                    font-size: 100px;
                    color: rgb(167, 211, 248);
                    color: rgb(106, 135, 221);
                    color: #616161;
                    margin-right: 50px;
                }

                .content{
                    
                    h2{
                        margin-bottom: 0;
                        font-weight: 300;
                        // color: royalblue;
                        font-size: 23px;
                        // color: white;
                        
                    }

                    p{
                        margin: 5px 0 10px 0;
                        font-size: 17px;
                        font-weight: 300;
                        font-size: 19px;
                        // font-size: 20px;
                        width: 85%;
                    }

                   

                    .view-single-btn:link,.view-single-btn:visited{
                        background-color: rgb(0, 140, 255);
                        // background-color: rgb(82, 118, 226);
                       background-color:darken(whitesmoke,60%);
                        background-color: rgb(197, 129, 3);
                     
                        color: white;
                        padding: 10px 20px;
                        border-radius: 8px;
                        transition: all .4s;
                        text-decoration: none;
                        display: inline-block;
                        
                        &:hover{
                            background-color: darken(rgb(0, 140, 255),10%);
                            background-color: royalblue;
                             background-color: #333;
                             background-color: rgb(161, 105, 0);
                           
                        }
                    }
                }
            }


        }
    }
}

.pagination {
  text-align: center;
  margin: 30px 0;
}

.pagination a,
.pagination span {
  display: inline-block;
  margin: 0 4px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  color: #333;
//   color: #ccc;;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.pagination a:hover {
    background-color: rgb(197, 129, 3);
    color: white;
    border-color: rgb(140, 0, 0);
}

.pagination .current {
  background-color: #333;
  color: white;
  font-weight: bold;
  border-color: rgb(140, 0, 0);
   background-color: rgb(197, 129, 3);
}
/* end pagination */