.article-content{
    font-weight: 300;
    width: 85%;
    
    h2,h3,h4,h5,h6,p{
         font-weight: 300;
         color: $color-text-body;
    }

    p,li,ol,ul{
        font-size: 19px;
       
    }

    li{
        font-weight: 300;
        color: $color-text-body;
    }

     a:link,a:visited{
        // color: white;
        // font-weight: bold;
        color: $color-text-link;
    }

}

.edit-record-btn,
.edit-record-btn:link,
.edit-record-btn:visited {
    position: absolute;
    top: 32px;
    right: 10%;
    padding: 8px;
    color: $color-text-muted;
    background: transparent;
    text-decoration: none;
    font-size: 24px;
}

@media (max-width:500px)  {
    .edit-record-btn,
    .edit-record-btn:link,
    .edit-record-btn:visited {
    position: absolute;
    top: -16px;
    right: 1%;
    padding: 8px;
    color: $color-text-muted;
    background: transparent;
    text-decoration: none;
    font-size: 24px;
    }
}

@media (min-width:501) and (max-width:700px)  {
    .edit-record-btn,
    .edit-record-btn:link,
    .edit-record-btn:visited {
    position: absolute;
    top: 0;
    right: 5%;
    padding: 8px;
    color: $color-text-muted;
    background: transparent;
    text-decoration: none;
    font-size: 24px;
    }
}



.edit-record-btn:hover,
.edit-record-btn:focus-visible {
    color: $color-text-body;
    background: transparent;
}

.swot-analysis{
    //  margin-top: 40px;
}
.swot-analysis-wraper{
    // background-color: rgb(157, 157, 157);
    display: grid;
    width: 70%;
    margin: 0 auto;
    margin-right: 265px;
    // margin-right: 75px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 40px;

    .swot-box{
        .center{
            text-align: center;
        }

        &-content{
            margin-top: 20px;
            min-height: 100px;
            // text-align: center;
            margin-left: 20px;
        }
    }

    .border-right{
        border-right: 0.5px solid $color-text;
    }

    .border-left{
        // border-left: 0.5px solid black;
    }

    .border-bottom{
        border-bottom: 0.5px solid $color-text;
    }
}
