{% extends 'core/base.html' %}

{% block main %}

<div class="grid">
    <div class="grid-left">
        <ul class="categories">
            <h2>Categories</h2>
            {% for article_category in article_categories %}
                <li><a href="">{{article_category.name}}</a>
                    <ul class="sub-categories">
                        {% for article_sub_category in article_category.sub_categories %}
                            <li><a href="">{{article_sub_category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>

    </div>

    <div class="grid-right">
        <div class="grid-right-wraper">
            <article class="single-article">
                 <h1 class="article-title">{{article.title}}</h1>
                 <div class="article-content">
                    {{article.content | safe  }}
                 </div>

            </article>
           
         
                <!-- <article class="preview">
                    <div class="icon">
                        <i class="fa-regular fa-newspaper"></i>
                    </div>

                    <div class="content">
                        <h2>{{article.title}}</h2>
                        <p>{{article.content | safe | striptags | truncatewords:70 }}</p>
                        <a class="view-single-btn" href="">View More</a>
                    </div>

                </article>
            
     -->

           

        </div>
 

    </div>

</div>


{% endblock %}