{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">  
    <script src="https://kit.fontawesome.com/d495971c43.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <img class="logo-icon" src="{% static 'imgs/papyrus.png' %}" alt="">
        <label for="toggle">&#9776;</label>
        <input type="checkbox" name="checkbox" id="toggle">

        <nav class="header-nav">
            <div class="logo">
                <p>Costas Nicou - BackOffice</p>
            </div>
            
          


            
            <div class="menu-wraper">
            <ul class="header-menu">
                <li><a href="{% url 'index' %}">Articles</a></li>
                <li><a href="{% url 'journal_index' %}">Journal</a></li>
                <li><a href="{% url 'note_index' %}">Notes</a></li>
                <li><a href="{% url 'centralpoint_index' %}">Central Points</a></li>
                <li><a href="{% url 'strategy_index' %}">Strategies</a></li>
                <li><a href="{% url 'decision_index' %}">Decisions</a></li>
                <li><a href="{% url 'goal_index' %}">Goals</a></li>
            </ul>

            <div class="logout">
                
                    <a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>

            </div>
            
            
        </nav>

    </header>

    <main class="main">
        {% block main %}


        {% endblock %}

    </main>


    <footer class="footer">

    </footer>

    
</body>
</html>