html, body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif; }

* {
  box-sizing: border-box; }

p, li {
  line-height: 25px; }

p strong, p b {
  color: #7d7d7d; }

.header {
  padding: 20px 0;
  background-color: #333;
  background-color: #a16900;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: 2px -1px 15px 5px rgba(0, 0, 0, 0.31);
  box-shadow: 2px -1px 15px 5px rgba(0, 0, 0, 0.31); }
  .header .logo-icon {
    position: absolute;
    top: 20px;
    left: 80px; }
  .header .header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative; }
    .header .header-nav .logo p {
      font-family: "Arizonia", cursive;
      font-weight: 400;
      font-style: normal;
      font-size: 35px;
      margin: 0;
      margin-right: 150px;
      margin-left: 150px;
      line-height: 30px;
      color: whitesmoke; }
    .header .header-nav .header-menu {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
      align-self: center; }
      .header .header-nav .header-menu li a:link, .header .header-nav .header-menu li a:visited {
        text-decoration: none;
        font-size: 18px;
        color: #444444;
        text-transform: uppercase;
        color: whitesmoke; }
        .header .header-nav .header-menu li a:link:hover, .header .header-nav .header-menu li a:visited:hover {
          color: white; }
      .header .header-nav .header-menu li:not(:last-of-type) {
        margin-right: 40px; }
    .header .header-nav .logout {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%); }
      .header .header-nav .logout a {
        padding: 5px 20px 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        color: white; }
        .header .header-nav .logout a i {
          font-size: 30px;
          color: white; }
          .header .header-nav .logout a i:hover {
            font-size: 35px; }

.grid {
  display: flex;
  min-height: 94vh;
  margin-top: 62px; }
  .grid-left {
    width: 20%;
    background-color: #7fc3fa;
    background-color: #5c5c5c;
    position: relative;
    color: white; }
    .grid-left .menu-navigator {
      position: sticky;
      top: 120px;
      position: sticky;
      top: 120px;
      width: 100%;
      margin: 0 auto;
      margin-left: 20px; }
      .grid-left .menu-navigator a {
        font-size: 18px; }
        .grid-left .menu-navigator a:hover {
          text-decoration: none !important; }
    .grid-left .categories {
      width: 90%;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      margin-top: 50px;
      font-size: 17px; }
      .grid-left .categories h2 {
        color: #008cff;
        color: white;
        color: #eb9a04; }
      .grid-left .categories li {
        margin-bottom: 5px;
        margin-left: 10px; }
      .grid-left .categories li a:link, .grid-left .categories li a:visited {
        text-decoration: none;
        color: #008cff;
        color: white;
        font-weight: bold; }
        .grid-left .categories li a:link:hover, .grid-left .categories li a:visited:hover {
          color: #eb9a04;
          text-decoration: underline; }
      .grid-left .categories .sub-categories {
        list-style: none;
        padding: 0; }
        .grid-left .categories .sub-categories li {
          margin-bottom: 5px;
          margin-left: 10px; }
        .grid-left .categories .sub-categories li a:link, .grid-left .categories .sub-categories li a:visited {
          text-decoration: none;
          color: white; }
          .grid-left .categories .sub-categories li a:link:hover, .grid-left .categories .sub-categories li a:visited:hover {
            color: #eb9a04 !important; }
    .grid-left .tags {
      width: 90%;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      margin-top: 25px;
      font-size: 17px; }
      .grid-left .tags h2 {
        color: #eb9a04; }
      .grid-left .tags .tags-wraper {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 10px;
        margin-top: 30px; }
        .grid-left .tags .tags-wraper li {
          margin-bottom: 25px; }
        .grid-left .tags .tags-wraper li a {
          color: white;
          text-decoration: none;
          padding: 10px;
          background-color: #c58103;
          font-size: 14px;
          border-radius: 8px; }
          .grid-left .tags .tags-wraper li a:hover {
            background-color: #a16900; }
        .grid-left .tags .tags-wraper li:not(:last-of-type) {
          margin-right: 5px; }
  .grid-right {
    width: 80%; }
    .grid-right-wraper {
      width: 80%;
      margin: 0 auto;
      margin-left: 0 auto;
      padding: 40px 0 80px 0; }
      .grid-right-wraper h1, .grid-right-wraper h2, .grid-right-wraper h3, .grid-right-wraper h4 {
        font-weight: 300;
        color: #2f2f2f; }
      .grid-right-wraper .post-type-title {
        text-align: center;
        margin-right: 150px;
        font-weight: 300; }
      .grid-right-wraper .article-title {
        text-align: center;
        margin-right: 150px;
        font-weight: 300;
        margin-bottom: 40px; }
      .grid-right-wraper .preview {
        display: flex;
        justify-content: space-evenly; }
        .grid-right-wraper .preview:not(:last-of-type) {
          margin-bottom: 40px; }
        .grid-right-wraper .preview .icon {
          align-self: center; }
        .grid-right-wraper .preview .icon i {
          font-size: 100px;
          color: #616161;
          margin-right: 50px; }
        .grid-right-wraper .preview .content h2 {
          margin-bottom: 0;
          font-weight: 300;
          font-size: 23px; }
        .grid-right-wraper .preview .content p {
          margin: 5px 0 10px 0;
          font-size: 17px;
          font-weight: 300;
          font-size: 19px;
          width: 85%;
          color: #4e4e4e; }
        .grid-right-wraper .preview .content .view-single-btn:link, .grid-right-wraper .preview .content .view-single-btn:visited {
          background-color: #008cff;
          background-color: #5c5c5c;
          background-color: #c58103;
          color: white;
          padding: 10px 20px;
          border-radius: 8px;
          transition: all .4s;
          text-decoration: none;
          display: inline-block; }
          .grid-right-wraper .preview .content .view-single-btn:link:hover, .grid-right-wraper .preview .content .view-single-btn:visited:hover {
            background-color: #0070cc;
            background-color: royalblue;
            background-color: #333;
            background-color: #a16900; }

.pagination {
  text-align: center;
  margin: 30px 0; }

.pagination a,
.pagination span {
  display: inline-block;
  margin: 0 4px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.2s ease; }

.pagination a:hover {
  background-color: #c58103;
  color: white;
  border-color: #8c0000; }

.pagination .current {
  background-color: #333;
  color: white;
  font-weight: bold;
  border-color: #8c0000;
  background-color: #c58103; }

/* end pagination */
.article-content {
  font-weight: 300;
  width: 85%; }
  .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6, .article-content p {
    font-weight: 300;
    color: #4e4e4e; }
  .article-content p, .article-content li, .article-content ol, .article-content ul {
    font-size: 19px; }
  .article-content li {
    font-weight: 300;
    color: #4e4e4e; }
  .article-content a:link, .article-content a:visited {
    color: #414141; }

.swot-analysis-wraper {
  display: grid;
  width: 70%;
  margin: 0 auto;
  margin-right: 265px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 40px;
  margin-bottom: 40px; }
  .swot-analysis-wraper .swot-box .center {
    text-align: center; }
  .swot-analysis-wraper .swot-box-content {
    margin-top: 20px;
    min-height: 100px;
    margin-left: 20px; }
  .swot-analysis-wraper .border-right {
    border-right: 0.5px solid black; }
  .swot-analysis-wraper .border-bottom {
    border-bottom: 0.5px solid black; }

.main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh; }
  .main-login h1 {
    text-align: center;
    font-family: "Arizonia", cursive;
    text-align: center;
    font-weight: 300; }

.login-logo {
  margin-bottom: 20px; }
  .login-logo i {
    color: #418ce1;
    font-size: 100px; }

.login-form {
  width: 50%;
  text-align: center; }
  .login-form .form-group {
    width: 50%;
    margin: 0 auto; }
    .login-form .form-group .form-control {
      margin: 10px;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px; }
  .login-form .btn.btn-primary {
    background-color: #418ce1;
    color: white;
    padding: 10px 20px;
    transition: all .4s;
    border-radius: 8px;
    border: none;
    margin-top: 10px; }
    .login-form .btn.btn-primary:hover {
      background-color: #2b7fde; }

@media (min-width: 320px) and (max-width: 500px) {
  .header .logo-icon {
    position: absolute;
    top: 20px;
    left: 80px;
    display: none; }

  .header .header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex-direction: column; }

  .header .header-nav .logo p {
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 0;
    margin-right: 150px;
    margin-left: 150px;
    line-height: 29px;
    color: whitesmoke;
    width: 100%;
    margin: 0 auto;
    text-align: center; }

  .header {
    padding: 5px 0;
    background-color: #333;
    background-color: #a16900;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 2px -1px 15px 5px rgba(0, 0, 0, 0.31);
    box-shadow: 2px -1px 15px 5px rgba(0, 0, 0, 0.31); }

  .grid-left {
    display: none; }

  .grid-right {
    width: 95%; }

  .grid-right-wraper {
    width: 95%;
    margin: 0 auto;
    margin-left: 0 auto;
    padding: 40px 0 80px 0; }

  .grid-right-wraper .post-type-title {
    text-align: center;
    margin-right: 0;
    font-weight: 300; }

  .grid-right-wraper .preview {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; }

  .grid-right-wraper .preview .content h2 {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
    margin-top: 5px; }

  .grid-right-wraper .preview .icon i {
    font-size: 60px;
    color: #616161;
    margin-right: 0; }

  .grid-right-wraper .preview .content p {
    font-size: 17px;
    font-weight: 300;
    font-size: 19px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    overflow-y: hidden; }

  .grid-right-wraper .preview .content h2 {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
    line-height: 40px; }

  .content {
    text-align: center; }

  .grid-right-wraper .preview .content .view-single-btn:link, .grid-right-wraper .preview .content .view-single-btn:visited {
    background-color: #008cff;
    background-color: #5c5c5c;
    background-color: #c58103;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all .4s;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 20px; } }

/*# sourceMappingURL=app.css.map */
